
<div class="row">
	<main class="col-md-12">
		<h1> Welcome to my about Page </h1>
		<p>
			Hello Everyone! Greetings! I'm a student at Seneca College, currently studing BTT(Business Information Technology)
		</p>
		<h2> About Me </h2>
		<p>
			I am a student enrolleaad in the program. My student ID is nmaharjan2.
	</main>
</div>